package {{apiPackage}};

import {{modelPackage}}.*;

import com.google.gson.Gson;
import com.google.gson.GsonBuilder;
import com.google.gson.JsonElement;
import com.google.gson.JsonObject;
import io.restassured.RestAssured;
import io.restassured.response.Response;
import io.restassured.specification.RequestSpecification;
import org.junit.jupiter.api.Assertions;
import org.junit.jupiter.api.Test;

import java.util.ArrayList;
import java.util.Comparator;
import java.util.List;
import java.util.Objects;
import java.util.stream.IntStream;


public class {{entityName}}JaxrsAdapterCrudTestIT {

  private static final String ENTITY_URL = "http://localhost:8080/";
  private static final String OPERATOR_NAME = "name";
  private static final String OPERATOR_PASSWORD = "password";


  @Test
  public void recordCrudTest() {
    {{entityName}}Dto dto = createRandomMinimal{{entityName}}Dto();
    String location = create{{entityName}}(dto);
    {{entityName}}Dto createdDto = setMinimal{{entityName}}Dto(get{{entityName}}(location));
    Assertions.assertTrue(equalsEntities(dto, createdDto), "New dto and created dto are different");

    {{entityName}}Dto newDto = createRandomMinimal{{entityName}}Dto();
    update{{entityName}}(newDto, location);
    {{entityName}}Dto updatedDto = setMinimal{{entityName}}Dto(get{{entityName}}(location));
    Assertions.assertTrue(equalsEntities(newDto, updatedDto), "New dto for updating and updated dto are different");

    delete{{entityName}}(location);
  }

  private String create{{entityName}}({{entityName}}Dto testDto) {
    Response postResponse = RestAssured.given()
            .auth()
            .basic(OPERATOR_NAME, OPERATOR_PASSWORD)
            .header("Content-Type", "application/json")
            .body(testDto)
            .post(ENTITY_URL);
    Assertions.assertEquals(201, postResponse.statusCode());
    return postResponse.getHeader("Location");
  }

  private {{entityName}}Dto get{{entityName}}(String location) {
    Response response = RestAssured.given()
            .auth()
            .basic(OPERATOR_NAME, OPERATOR_PASSWORD)
            .when()
            .get(location);
    Assertions.assertEquals(200, response.statusCode());
    Gson gson = new GsonBuilder().setDateFormat("dd.MM.yyyy").create();
    return gson.fromJson(response.asString(), {{entityName}}Dto.class);
  }

  private void update{{entityName}}({{entityName}}Dto testDto, String location) {
    Response putResponse = RestAssured.given()
            .auth()
            .basic(OPERATOR_NAME, OPERATOR_PASSWORD)
            .header("Content-Type", "application/json")
            .body(testDto)
            .put(location);
    int statusCode = putResponse.statusCode();
    Assertions.assertEquals(200, statusCode);
  }

  private void delete{{entityName}}(String location) {
    RequestSpecification requestDelete = RestAssured.given()
            .auth()
            .basic(OPERATOR_NAME, OPERATOR_PASSWORD);                
    Response deleteResponse = requestDelete.delete(location);

    Assertions.assertEquals(200, deleteResponse.statusCode()); //TODO: maybe should be 204
  }

  private {{entityName}}Dto createRandomMinimal{{entityName}}Dto() {
    {{entityName}}Dto dto = new {{entityName}}Dto();
    //TODO

    return dto;
  }

  private {{entityName}}Dto setMinimal{{entityName}}Dto({{entityName}}Dto dto) {
    //TODO

    return dto;
  }

  private boolean equalsEntities(Object obj1, Object obj2) {
    if (obj1 == obj2) {
      return true;
    }
    
    //TODO

    return false;
  }

}
