package {{apiPackage}};

import {{apiPackage}}.dto.{{entityName}}CreateDto;
import {{apiPackage}}.dto.{{entityName}}Dto;
import {{apiPackage}}.dto.{{entityName}}SearchDto;
import {{apiPackage}}.dto.{{entityName}}UpdateDto;

import org.jepria.server.data.RecordDefinitionDtoImpl;

// TODO скорее всего, имеет смысл по-прежнему поддерживать синглтон этого класса, чтобы не выполнять тяжеловесную инициализацию почём зря
public class {{entityName}}RecordDefinition extends RecordDefinitionDtoImpl {

  public {{entityName}}RecordDefinition() {
    super({{entityName}}CreateDto.class,
          {{entityName}}Dto.class,
          {{entityName}}SearchDto.class,
          {{entityName}}UpdateDto.class
    );
  }

}
