package {{apiPackage}};

import {{apiPackage}}.dto.FeatureCreateDto;
import {{apiPackage}}.dto.FeatureDto;
import {{apiPackage}}.dto.FeatureSearchDto;
import {{apiPackage}}.dto.FeatureUpdateDto;

import org.jepria.server.data.RecordDefinitionDtoImpl;

// TODO скорее всего, имеет смысл по-прежнему поддерживать синглтон этого класса, чтобы не выполнять тяжеловесную инициализацию почём зря
public class {{className}}RecordDefinition extends RecordDefinitionDtoImpl {

  public {{className}}RecordDefinition() {
    super({{className}}CreateDto.class,
          {{className}}Dto.class,
          {{className}}SearchDto.class,
          {{className}}UpdateDto.class
    );
  }

}
