package {{apiPackage}};

import {{modelPackage}}.*;

import org.jepria.server.data.OptionDto;
import org.jepria.server.service.security.Credential;

import java.util.List;

public class {{entityName}}Service {

{{#operations}}
  {{#operation}}
  {{#isGet}}
  public {{returnType}} {{nickname}}({{#allParams}}{{type}} {{name}}, {{/allParams}}){
    return this.dao.{{nickname}}({{#allParams}}{{name}}, {{/allParams}});
  }
  {{/isGet}}
  {{#isPut}}
  public void {{nickname}}({{#allParams}}{{type}} {{name}}, {{/allParams}}) {
    this.dao.{{nickname}}({{#allParams}}{{name}}, {{/allParams}});
  }
  {{/isPut}}
  {{#isPost}}
  public void {{nickname}}({{#allParams}}{{type}} {{name}}, {{/allParams}}) {
    this.dao.{{nickname}}({{#allParams}}{{name}}, {{/allParams}});
  }
  {{/isPost}}
  {{#isDelete}}
  public void {{nickname}}({{#allParams}}{{type}} {{name}}, {{/allParams}}) {
    this.dao.{{nickname}}({{#allParams}}{{name}}, {{/allParams}});
  }
  {{/isDelete}}
  {{/operation}}
 {{/operations}}

}
