package {{apiPackage}};

import {{apiPackage}}.dao.{{entityName}}Dao;
import {{apiPackage}}.dao.{{entityName}}DaoImpl;
import org.jepria.server.ServerFactory;
import org.jepria.server.service.rest.EntityService;
import org.jepria.server.service.rest.EntityServiceImpl;
import org.jepria.server.service.rest.SearchService;
import org.jepria.server.service.rest.SearchServiceImpl;

import javax.servlet.http.HttpSession;
import java.util.function.Supplier;

public class {{entityName}}ServerFactory extends ServerFactory<{{entityName}}Dao> {
  private EntityService entityService;
  private SearchService searchService;

  private {{entityName}}ServerFactory() {
    super(new {{entityName}}DaoImpl(), "jdbc/ITMDS");
  }

  public static {{entityName}}ServerFactory getInstance() {
    return new {{entityName}}ServerFactory();
  }

  public {{entityName}}Service getService() {
    return new {{entityName}}Service();
  }

  /**
   * @return сервис, воплощающий логику CRUD-операций (create, get-by-id, update, delete)
   */
  public EntityService getEntityService() {
    return new EntityServiceImpl(getDao(), new {{entityName}}RecordDefinition());
  }

  /**
   * @return сервис, воплощающий логику поиска объектов сущности
   */
  public SearchService getSearchService(Supplier<HttpSession> session) {
    return new SearchServiceImpl(getDao(), new {{entityName}}RecordDefinition(), session);
  }
}
